@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital@1&display=swap");

$base-color: #f6eedf;
$hyperlink-color: #ffd31d;
$button-color: #f57b51;
$button-hover-color: #d63447;
$heading-font: "Anton", sans-serif;
$text-font: "Bebas Neue", cursive;
$white: #fff;
